ClienteCollatz/Connected Services/ServiceReference1/ServicioCollatz.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCollatz" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55222/Collatz.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55222/Collatz.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55222/Collatz.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IcontratoCollatz_GetConjeturaCollatz_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConjeturaCollatz" />
  </wsdl:message>
  <wsdl:message name="IcontratoCollatz_GetConjeturaCollatz_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConjeturaCollatzResponse" />
  </wsdl:message>
  <wsdl:message name="IcontratoCollatz_GetSaludo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaludo" />
  </wsdl:message>
  <wsdl:message name="IcontratoCollatz_GetSaludo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaludoResponse" />
  </wsdl:message>
  <wsdl:portType name="IcontratoCollatz">
    <wsdl:operation name="GetConjeturaCollatz">
      <wsdl:input wsaw:Action="http://tempuri.org/IcontratoCollatz/GetConjeturaCollatz" message="tns:IcontratoCollatz_GetConjeturaCollatz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcontratoCollatz/GetConjeturaCollatzResponse" message="tns:IcontratoCollatz_GetConjeturaCollatz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaludo">
      <wsdl:input wsaw:Action="http://tempuri.org/IcontratoCollatz/GetSaludo" message="tns:IcontratoCollatz_GetSaludo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcontratoCollatz/GetSaludoResponse" message="tns:IcontratoCollatz_GetSaludo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IcontratoCollatz" type="tns:IcontratoCollatz">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConjeturaCollatz">
      <soap:operation soapAction="http://tempuri.org/IcontratoCollatz/GetConjeturaCollatz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaludo">
      <soap:operation soapAction="http://tempuri.org/IcontratoCollatz/GetSaludo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCollatz">
    <wsdl:port name="BasicHttpBinding_IcontratoCollatz" binding="tns:BasicHttpBinding_IcontratoCollatz">
      <soap:address location="http://localhost:55222/Collatz.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>